<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>D&B抽奖</title>
    <META http-equiv=Pragma content=no-cache>
    <META http-equiv=Cache-Control content=no-cache>
    <META http-equiv=Expires content=0>
    <link rel="stylesheet" type="text/css" href="/img/style.css" />
    <link rel="stylesheet" type="text/css" href="/img/effects.css" />
</head>
<body onContextMenu="return false" onSelectStart="return false">

    {% block title %}<div class="level" id="text3d"><h3>{{ level }}</h3></div>{% endblock title %}

    {% block number %}{% endblock number %}

    {% block button %}
    <div class="anniu" id='go_find'></div>
    {% endblock button %}

    {% block script %}{% endblock script %}
    <script type="text/javascript" src="/img/jq.js"></script>
    <script type="text/javascript" src="/img/calculator.js"></script>
    <script type="text/javascript" src="/img/test.js"></script>

</body>
</html>