<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Rosun DataView</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script src="/static/js/echarts.js"></script>
    <script src="/static/js/echarts-gl.js"></script>
</head>

<body>
  	<div class="header_con">
		<div class="header">
			<div class="welcome fl">welcome to rosun data view!</div>
		</div>
	</div>

	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>数据分类</h1>
				<span></span>
				<ul class="subnav">
					<li><a href="#" class="fruit">销售数据</a></li>
					<li><a href="#" class="seafood">财务数据</a></li>
					<li><a href="#" class="meet">生产数据</a></li>
					<li><a href="#" class="egg">库存数据</a></li>
					<!--<li><a href="#" class="vegetables">vegetables</a></li>-->
					<!--<li><a href="#" class="ice">ice</a></li>-->
				</ul>
			</div>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">销售数据</a>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>数据过滤</h3>  <!--这里增加选项-->
				<ul>

                    {% block drop_down %}{% endblock %}

				</ul>
			</div>
		</div>
        <div class="r_wrap fr clearfix">
            <ul class="goods_type_list clearfix">  <!--这里增加图表缩略图-->

                {% block views %}{% endblock views %}

            </ul>

        </div>
    </div>

	<div class="footer">
		<div class="foot_link">
			<a href="#">销售数据</a>
			<span>|</span>
			<a href="#">财务数据</a>
			<span>|</span>
			<a href="#">生产数据</a>
			<span>|</span>
			<a href="#">库存数据</a>
		</div>
		<p>电话：8018或65988000 信息部</p>
	</div>

</body>

</html>